<item>
    <Title><![CDATA[<%= article.title %>]]></Title> 
    <Description><![CDATA[<%= article.description %>]]></Description>
    <PicUrl><![CDATA[<%= article.picurl %>]]></PicUrl>
    <Url><![CDATA[<%= article.url %>]]></Url>
</item>